.banner {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.container {
  max-width: 720px;
  margin: 3rem auto;

  h1 {
    font-size: 2.5rem;
    line-height: 5rem;
  }

  article {
    margin-top: 3rem;
    font-weight: 400;

    p {
      color: var(--gray-300);
    }

    a {
      color: var(--pink-400);
    }
  }
}

.postInfo {
  .mainPostInfo {
    display: flex;
    flex-direction: row;
    color: var(--gray-300);
    margin-bottom: 0.5rem;

    time, span {
      display: flex;
      align-items: center;

      svg {
        margin-right: 0.5rem;
      }
    }

    span {
      margin-left: 2rem;
    }
  }

  .lastEditedInfo {
    color: var(--gray-300);
    font-size: 0.9rem;
  }
}

.postContent {
  line-height: 1.5rem;

  > div {
    margin: 2rem 0;
  }

  h3 {
    font-size: 1.5rem;
  }
}

.navigationBetweenPosts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: var(--gray-100);
  border-top: 1px solid var(--gray-600);
  padding: 2rem 0;

  a {
    display: flex;
    flex-direction: column;
    font-size: 1.05rem;

    span {
      justify-content: flex-end;
      margin-top: 0.5rem;
      color: var(--pink-400);
      font-size: 1rem;
    }
  }
}
